<nb-card *ngIf="store.streamer$ | async as streamer">
  <nb-card-body>
    <ng-container *ngIf="store.emoteMap$ | async as emotes">
      <app-user-card [streamer]="streamer"></app-user-card>

      <app-chat-card [streamer]="streamer" [emotes]="emotes"></app-chat-card>
    </ng-container>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header fxLayout="row wrap" fxLayoutAlign="space-around center">
    <input
      #autoInput
      nbInput
      type="text"
      (input)="onChange()"
      placeholder="Enter value"
      [nbAutocomplete]="auto"
    />
    <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
      <nb-option
        *ngFor="let option of filteredOptions$ | async"
        [value]="option"
      >
        {{ option }}
      </nb-option>
    </nb-autocomplete>
    <button nbButton (click)="getEmote()">search</button>
  </nb-card-header>

  <nb-card-body>
    <app-emote [emote]="emote"></app-emote>
  </nb-card-body>

  <ng-container ngSwitch="emote?.type"> </ng-container>
</nb-card>
